<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Altum Labs | Library</title>
  <link rel="stylesheet" href="/css/library.css">
  <link rel="icon" href="assets/img/logo.png" type="image/png">
</head>

<body>
  <h1 class="title">Library</h1>
  <p>select your item.</p>
  <section class="main">
    <div class="wrap wrap--1">
      <div class="container container--1">
        <p>01. Normal</p>
      </div>
    </div>
    <div class="wrap wrap--2">
      <div class="container container--2">
        <p>02. Reverse</p>
      </div>
    </div>
    <div class="wrap wrap--3">
      <div class="container container--3">
        <p>03. Normal</p>
      </div>
    </div>
    <div class="wrap wrap--1">
      <div class="container container--1">
        <p>01. Normal</p>
      </div>
    </div>
    <div class="wrap wrap--2">
      <div class="container container--2">
        <p>02. Reverse</p>
      </div>
    </div>
    <div class="wrap wrap--3">
      <div class="container container--3">
        <p>03. Normal</p>
      </div>
    </div>
  </section>
  <script src="/static/js/library.js"></script>
</body>

</html>