.panel-title {
    color: #457F6C;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 600;
}
.panel-subtitle {
    color: #457F6C;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
}