.panel-title {
  /* font-family: 'Poppins'; */
  color: #457f6c;
  font-weight: 600;
}
.panel-subtitle {
  color: #457f6c;
  font-size: 18px;
  /* font-family: 'Poppins'; */
  font-weight: 400;
}
.panel-text {
  /* font-family: 'Poppins'; */
}
