<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Upload - Altum Labs Development Portal</title>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/css/fileinput.min.css'>
  <link rel="stylesheet" href="css/upload.css">
</head>

<body>
  <div class="container text-center mb-5 mt-5">
    <div class="row">
      <div class="col-md-12">
        <h4>
          <a style="color: #7646FF;" href="" target="_blank">
            <b>Upload Product Data</b>
          </a>
        </h4>
      </div>
    </div>
  </div>
  <section class="bg-diffrent">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <div class="file-upload-contain">
            <input id="multiplefileupload" type="file" accept=".doc, .pdf, .txt, .xml, .mzxml" multiple />
          </div>
        </div>
      </div>
      <h1 class="h-divider">OR</h1>
      <div class="wrapper">
        <div class="label" style="padding-left: 20px;">Search for your product:</div>
        <div class="searchBar">
          <input id="autocomplete" class="searchQueryInput" type="text" name="searchQueryInput"
            placeholder="Search using Batch ID, Delivery Date, Producer, Tester, etc." value="" />
          <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#666666"
                d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  <script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/js/plugins/sortable.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.3/themes/fas/theme.min.js'></script>
  <script src="js/upload.js"></script>
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    var tags = ["producer1", "producer2", "tester1", "tester2", "date1", "date2", "batch1", "batch2"];
    $("#autocomplete").autocomplete({
      source: function (request, response) {
        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
        response($.grep(tags, function (item) {
          return matcher.test(item);
        }));
      },
    });

    // open uploaded file a new tab. (WIP)
    $(document).ready(function () {
      $("#multiplefileupload").change(function (e) {
        var fileList = document.getElementById("fileList");
        fileList.innerHTML = "";

        var files = e.target.files;
        for (var i = 0; i < files.length; i++) {
          var file = files[i];

          var listItem = document.createElement("li");
          var link = document.createElement("a");
          link.href = URL.createObjectURL(file);
          link.target = "_blank";
          link.textContent = file.name;

          link.addEventListener("click", function (event) {
            event.preventDefault();
            window.open(this.href, "_blank");
          });
          listItem.appendChild(link);
          fileList.appendChild(listItem);
        }
      });
    });
  </script>
</body>

</html>