<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>PLANTALYSIS by Altum Labs</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
            <a href="index.html" class="logo me-auto me-lg-0">
              <img src="assets/img/logo.png" alt="" class="img-fluid">
            </a>
            <nav id="navbar" class="navbar order-last">
              <ul>
                <li>
                  <a class="nav-link" href="#hero">Home</a>
                </li>
              </ul>
              <a href="#about" style="color: white;" class="get-started-btn scrollto">Login</a>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <center>
            <div class="col-xl-8">
              <h1>P L A N T A L Y S I S</h1>
              <h3>Know what's inside.</h3>
              <br>
              <div class="row" style="white-space: nowrap;">
                <div class="col">
                  <ul style="text-align: left;">
                    <li>Comprehensive Data Protection</li>
                    <li>Automated Molecular Analysis</li>
                    <li>AI-powered Compound Quantification</li>
                  </ul>
                </div>
                <div class="col">
                  <ul style="text-align: left;">
                    <li>Accredited Laboratory Marketplace</li>
                    <li>Step-by-Step Process Tracking</li>
                    <li>Live Sample-Level Regulator Approval</li>
                  </ul>
                </div>
                <div class="col">
                  <ul style="text-align: left;">
                    <li>QR-Accessible Test Results</li>
                    <li>OCM-Compliant Label Generator</li>
                    <li>Consumer Insights Analytics</li>
                  </ul>
                </div>
              </div>
              <br>
              <a href = "#contact" class = "get-started-btn">Contact Us</a>
            </div>
          </center>
        </div>
      </div>
    </section>
    <!-- End Hero -->
    <main id="main">
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">
          <center>
            <h2 style="color: #335E50;">Welcome!</h2>
            <p>Sign Up or Log In to access the innovative platform that makes your compliance processes frictionless.</p>
          </center>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="box">
                <div class="col-lg">
                  <img class="rounded-circle" src="assets/img/BG.png" />
                </div>
                <h3 style="color: #335E50; font-size: 25px;">LABS</h3>
                <div class="btn-wrap">
                  <a href="#" class="btn-fill">Login</a>
                </div>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">Register</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="box">
                <div class="col-lg">
                  <img class="rounded-circle" src="assets/img/BG2.png" />
                </div>
                <h3 style="color: #335E50; font-size: 25px;">PRODUCER</h3>
                <div class="btn-wrap">
                  <a href="#" class="btn-fill">Login</a>
                </div>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">Register</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="box">
                <div class="col-lg">
                  <img class="rounded-circle" src="assets/img/BG3.png" />
                </div>
                <h3 style="color: #335E50; font-size: 25px;">REGULATOR</h3>
                <div class="btn-wrap">
                  <a href="#" class="btn-fill">Login</a>
                </div>
                <div class="btn-wrap">
                  <a href="#" class="btn-buy">Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <center>
            <h2>Contact</h2>
            <p>We want to hear from you.</p>
          </center>
        </div>
        <div class="container">
          <div class="row mt-5">
            <center>
              <div class="col-lg-8 mt-5 mt-lg-0">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center">
                    <button type="submit">Send Message</button>
                  </div>
                </form>
              </div>
            </center>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>P L A N T A L Y S I S</h3>
        <h4>by Altum Labs</h4>
        <p>Ensuring your wellness, empowering, consumer trust.</p>
        <div class="social-links">
          <a href="#" class="twitter">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="#" class="instagram">
            <i class="bx bxl-instagram"></i>
          </a>
          <a href="#" class="linkedin">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
        <div class="copyright"> &copy; Copyright <strong>
            <span>Altum Labs</span>
          </strong>. All Rights Reserved </div>
      </div>
    </footer>
    <!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>